@charset "UTF-8";
/* 웰컴체 */
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    }

    * {
        outline: 0;
    }

    ul, ol, li {
        list-style: none;
    }
    a{text-decoration: none;}

    .myinfo_reservation_wrap {
         font-family: 'OTWelcomeRA';
         position: relative;
         top: 55px;
        /* padding: 20px; */
        text-align: center;
        width: 100%;
        background: #fff;
        margin-bottom: 350px;
    }
    

  



    .my_reservation_title{
        font-family: 'OTWelcomeRA';

        width: 100%;
        height: 70px;
        background-color: rgb(164, 78, 184);
        color: #fff;
        font-size: 30px;
        text-align: left;
        padding-left: 250px;
        line-height: 80px;

    }

    .my_reservation_BigBox{
        display: flex;
        flex-wrap: wrap;
        padding: 0 12.8%;
        margin-top: 80px;
        
    }

    .my_reservation_box1{
        width: 20%;
        text-align: right;
        padding: 10px;
        font-size: 20px;
    }

/* 링크 박스 호버로 꾸미기 */
    #all_choice:hover{
        color: rgb(116, 10, 140);
    }
    .my_reservation_box1>a{
        color: rgb(132, 132, 132);
        
    }
    a.my_reservation_info{

        color: rgb(116, 10, 140);
    }





    .my_reservation_box2{
        padding: 20px;
        padding-left: 70px;
        text-align: left;
        width: 80%;
        /* margin: auto;*/
    }
   
    .my_reservation_box2>span{
        font-size: 18px;
    }
    
    .boxs{
        z-index: 10;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 30px;
        }


    #ingboxs{
        transition: all 1s;
    }

    /* #ing_box{
        transform: translateX(-390px);
    } */

    .in_boxs{
        cursor: pointer;
        z-index: 150;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 378px;
        height: 98.5px;
        border-radius: 3px;
        transition: 0.15s;
        margin-right: 10px;
    }

    .flex{
        
        display: flex;
        flex-wrap: nowrap;
    }


    .in_boxs:hover{
        box-shadow: 0px 0px 8px 1px rgb(227, 218, 230);
    }

    

    .hotelimg{
        object-fit: cover;
        width: 150px;
        height: 98.5px;
    }
    .in_contents{
        border-right: 1px solid rgb(142, 142, 142);
        border-top: 1px solid rgb(142, 142, 142);
        border-bottom: 1px solid rgb(142, 142, 142);
        border-radius: 3px;
        width: 228px;
        padding: 22px;
        padding-top: 19px;
        height: 98.5px;
        
    }
    
    .all_name{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 3px;
        padding-top: 5px;
        color: rgb(58, 58, 58);

    }

    .all_contents{
        font-size: 14px;
        color: rgb(121, 121, 121);
    }
    
    .all_date{
        font-size: 13.5px;
        color: rgb(88, 88, 88);
    }

    #left_btn1{
        cursor: pointer;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border: none;
        /* border: 1px solid #000; */
        border-radius: 30px;
        position: absolute;
        top: 235px;
        left: 497px;

        transition: 0.2s;
    }
    #left_btn1:hover{
        box-shadow: 0px 0px 4px 4px #fff;
    }
    .left_btn{
        position: relative;
        right: 11px;
        bottom: 6px;
        width: 40px;
    }

    #right_btn1{
        cursor: pointer;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border: none;
        /* border: 1px solid #000; */
        border-radius: 30px;
        position: absolute;
        top: 235px;
        right: 223px;

    }

    #right_btn1:hover{
        box-shadow: 0px 0px 4px 4px #fff;
    }

    .right_btn{
        position: relative;
        right: 11px;
        bottom: 6px;
        width: 40px;
    }






    
    #left_btn2{
        cursor: pointer;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border: none;
        /* border: 1px solid #000; */
        border-radius: 30px;
        position: absolute;
        top: 415px;
        left: 497px;

        transition: 0.2s;
    }
    #left_btn2:hover{
        box-shadow: 0px 0px 4px 4px #fff;
    }
    .left_btn{
        position: relative;
        right: 11px;
        bottom: 6px;
        width: 40px;
    }

    #right_btn2{
        cursor: pointer;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border: none;
        /* border: 1px solid #000; */
        border-radius: 30px;
        position: absolute;
        top: 415px;
        right: 223px;

    }

    #right_btn2:hover{
        box-shadow: 0px 0px 4px 4px #fff;
    }

    .right_btn{
        position: relative;
        right: 11px;
        bottom: 6px;
        width: 40px;
    }







    #left_btn3{
        cursor: pointer;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border: none;
        /* border: 1px solid #000; */
        border-radius: 30px;
        position: absolute;
        top: 595px;
        left: 497px;

        transition: 0.2s;
    }
    #left_btn3:hover{
        box-shadow: 0px 0px 4px 4px #fff;
    }
    .left_btn{
        position: relative;
        right: 11px;
        bottom: 6px;
        width: 40px;
    }

    #right_btn3{
        cursor: pointer;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border: none;
        /* border: 1px solid #000; */
        border-radius: 30px;
        position: absolute;
        top: 595px;
        right: 223px;

    }

    #right_btn3:hover{
        box-shadow: 0px 0px 4px 4px #fff;
    }

    .right_btn{
        position: relative;
        right: 11px;
        bottom: 6px;
        width: 40px;
    }