/* 웰컴체 */
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    }

    * {
        outline: 0;
    }

    ul, ol, li {
        list-style: none;
    }
    a{text-decoration: none;}
    * {
        box-sizing: border-box;
      }

    .wrap {
        width: 100%;
        background: #fff;
        opacity: 0;
        visibility: hidden;
    }

    body{
        text-align: center;
    }


.mainimg{
    border-bottom: 2px solid rgb(241, 241, 241);
    width: 60%;
    margin-top: 300px;
}

.menuBanner{
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'OTWelcomeRA';
    font-size: 15px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
}

#menuB{
    cursor: pointer;
    margin: 0 10px;
    width: 100px;
    height: 130px;
    /* border: 1px solid #000; */
    transition: 0.5s;
}
#menuB:hover{
    box-shadow: 0px 5px 5px  rgb(213, 213, 213);
}

.Mtitle{
    color:#693d93;
    font-weight: bold;
 
}

.Notice{
    justify-content: center; 
    display: inline-block;
   
}
.notice2>a{
    color: black;
}



.new{
    width: 200px;
    font-family: 'OTWelcomeRA';
    font-size: 22px;
    height: 23px;
    font-weight: bold;
    text-align: left;
    padding: 0 3px;
    position: relative;
    left: 10px;
    margin-bottom: 100px;

}
.new>a{
    color:rgb(116, 10, 140);
    transition:0.3s;
}
.new>a:hover{
	color:rgb(165, 37, 194);
	
}


.notice2{
	margin-top:40px;
    display: flex;
    flex-wrap: wrap;
}

#choose{
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 100px;

    border-radius: 4px;
  
}

#choose>a{
	    display: flex;
    flex-wrap: wrap;
}

#choose>a>.Nimg{

    border: 1px solid rgb(187, 187, 187);
    border-right: none;
    background-color: rgb(244, 244, 244);
    width: 130px;
    height: 130px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.inform{
    padding: 10px;
    width: 270px;
    border: 1px solid rgb(187, 187, 187);
    text-align: left;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pic{
    width: 100px;
}

.Ntitle{
    font-family: 'OTWelcomeRA';
    font-size: 17px;
    line-height: 36px;
    /* background-color: antiquewhite; */
    height: 30px;
}

.Ncontents{
	padding-left:10px;
	padding-right:10px;
    font-family: 'OTWelcomeRA';
    font-size: 15px;
    color: black;
    margin-top: 10px;
    /* background-color: antiquewhite; */
    height: 60%;
    font-weight: bold;
}

.recommend_box{
    text-align: left;
   
}

#recommend{
    cursor: pointer;
    line-height: 35px;
    height: 30px;
}
#recommend>a{
    color: rgb(242, 95, 215);
}
#recommend:hover {
    background-color: rgb(246, 246, 246);
}



.Etitle{
        color:rgb(111, 5, 135);
        font-family: 'OTWelcomeRA';
        font-weight: bold;
        position: absolute;
        top: 17%;
        left: 43%;
        font-size: 25px;
        animation-name: NU;
        animation: NU 0.6s infinite alternate;
    }
    @keyframes NU{
        0%{color: rgb(193, 45, 226);}
        25%{color: rgb(175, 39, 205);}
        50%{color: rgb(162, 30, 192);}
        75%{color: rgb(120, 15, 144);}
        100%{color: rgb(111, 5, 135);}
    }
.eventbox{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 250px;
    
    
    
    /* border: 1px solid #000; */
}

.Egroup{
    /* border: 1px solid #000; */
    display: flex;
    width: 200px;
    overflow: hidden;
    height: 100%;
}

.Egroup>a{
    width: 100%;
    height: 250px;
    border: 1px solid rgb(216, 216, 216);
    /* margin: 20px; */
    transition: 0.5s;
    background-color: #fff;
    color: black;
}

#Ebox{
    width: 403px;
    height: 120%;
    
}

.Epic{
    width: 100%;
    height: 50%;
    background-color: antiquewhite;
}

.Einfo{
    font-family: 'OTWelcomeRA';
    padding: 10px;
    text-align: left;
}

.Ename{
    font-weight: bold;
    color: black;
    font-size: 17px;
}

.Eheartbox{
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 2px;
}

#Hotel_pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Eheart{
    color: rgb(134, 134, 134);
    font-size: 14px;
}

.Epricebox{
    position: relative;
    top: 20px;
    left: 100px;
}

.Eprice{
    color: red;
    font-size: 20px;
}
.Ewon{
    font-size: 20px;
    color: black;
}

       
        #Ebox:hover .Ename{
            text-decoration: underline;
        }

        #Ebox{
            transition: 0.2s;
        }

        #Ebox:hover{
            box-shadow: 0px 2px 5px 1px rgb(215, 215, 215);
        }

        .slider {
            width: 50%;
            margin: 100px auto;
        }
    
        .slick-slide {
          margin: 0px 20px;
        }
    
        .slick-slide img {
          width: 100%;
        }
    
        .slick-prev:before,
        .slick-next:before {
          color: black;
        }
        .slick-cloned {
         display: none;
        }
    
    
        .slick-slide {
          transition: all ease-in-out .3s;
          opacity: .2;
        }
        
        .slick-active {
          opacity: .5;
        }
    
        .slick-current {
          opacity: 1;
        }
        
        
        
        

        
        
        #Nimgs{
        width: 100%;
        height: 100%;
        object-fit:cover;
        }
        
        #Ntitle1{
        padding-top:5px;
        padding-left:10px;
        color: rgb(255, 40, 137);
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        }
        
        .pink{
        color: rgb(255, 40, 137);
        font-weight: bold;
        }
        
        .gray{
         color:rgb(125, 125, 125);
         font-weight: bold;
         font-size: 12px;
        }
        
        #Ntitle2{
        padding-top:5px;
        padding-left:10px;
        color: black;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        }
        
        .blue{
        color: rgb(39, 136, 255);
        }
        
        .choose1{
		transition:0.3s;
		}
		
		.choose1:hover{
		    box-shadow: 0px 0px 10px 1px  rgb(255, 213, 232);
		}
        
        
         .choose2{
		transition:0.3s;
		}
		
		.choose2:hover{
		    box-shadow: 0px 0px 10px 1px  rgb(204, 235, 255);
		}
        
