/* 웰컴체 */
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    }

    * {
        outline: 0;
    }

    ul, ol, li {
        list-style: none;
    }
    a{text-decoration: none;}

    .SearchWord{
        font-family: 'OTWelcomeRA';
        width: 100%;
        text-align: center;
        height: 60px;
        line-height: 67px;
        font-size: 25px;
        border-bottom: 1PX solid rgb(219, 219, 219);

        /* margin-top: 55px; */
        /* background-color: antiquewhite; */
    }

    .wrap1{
        margin-bottom: 400px;
        margin-top: 2%;
        text-align: center;
        width: 100%;
        font-family: 'OTWelcomeRA';
        background: #fff;
        display: flex;

    }

    .SearchWord{
        margin-top: 55px;
    }
    .Tagbox,.prod{
        
        margin: auto;
    }
    
    .Tagbox{
        margin-top: 30px;
        /* background-color: antiquewhite; */
        padding: 30px 15px;
        width: 20%;
        position: absolute;
        left:13%;
        text-align: left;
        border: 1px solid rgb(208, 208, 208);
        border-radius: 6px;
    }

    .datetitle{
        margin-bottom: 5px;
    }

    .today{
        display: none;
        visibility: hidden;
    }
    

    .detail{
        font-size: 17px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgb(219, 219, 219);
    }

    .checkbox1{
        width: 75px;
        display: block;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .checkbox2{
        width: 180px;
        display: block;
        font-size: 14px;
		margin-bottom: 20px;
    }
    
        .checkbox3{
        width: 180px;
        display: flex;
        flex-wrap:wrap;
        font-size: 14px;
		margin-bottom: 10px;
    }
    
    .checkbox3>label{
    padding: 0px 5px 0px 0px;
    }

    #TypeTitle{
        margin-bottom: 5px;
    }

    .datebox>input{
        font-family: 'OTWelcomeRA';

        font-size: 11px;
        width: 100px;
        height: 20px;
        border-radius: 3px;
        border: 1px solid rgb(135, 135, 135);
    }
    .datebox>input:focus{
        font-family: 'OTWelcomeRA';

        outline: none;
    }

    #calender{
        position: relative;
        width: 23px;
        top: 10px;
        left: 2px;
    }



    .ui-datepicker {
        width: 216px;
        height: auto;
        margin: 5px auto 0;
        font: 9pt Arial, sans-serif;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
    }
    .ui-datepicker a {
        font-family: 'OTWelcomeRA';

        text-decoration: none;
    }
    .ui-datepicker table {
        background-color: white;
        width: 100%;
    }
    .ui-datepicker-header {
        padding-top: 10px;
        padding-left:10px;
    	padding-right:10px;
        font-family: 'OTWelcomeRA';
        font-size: 14px;
       background-color: rgb(230, 230, 230);
        color: #e0e0e0;
        -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
        -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
        box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
        filter: dropshadow(color=#000, offx=1, offy=-1);
        line-height: 30px;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: rgb(255, 255, 255);
    }
    .ui-datepicker-title {
        text-align: center;
        color: rgb(72, 72, 72);
    }
    .ui-datepicker-year{
        border-radius: 3px;
        margin-right: 3px;
    }
    .ui-datepicker-month{
        border-radius: 3px;
        margin-left: 10px;
    }


    .ui-datepicker-prev, .ui-datepicker-next {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 10px;
        height: 10px;
        text-align: center;
        cursor: pointer;
        background-repeat: no-repeat;
        line-height: 600%;
        overflow: hidden;
    }
    
    .ui-datepicker-prev {
        content: "<";
        background-color: rgb(224, 169, 237);
        border-radius: 10px;
        background-image: url("/NORUN/img/arrow_left.png")cover;
        background: url("/NORUN/img/arrow_left.png") cover;
        float: left;
        background-position: center -30px;
    }
    .ui-datepicker-next {
        background-color: rgb(224, 169, 237);
        border-radius: 10px;
        background: url("/NORUN/img/arrow_right.png") cover;
        float: right;
        background-position: center 0px;
    }
    .ui-datepicker thead {
        background-color: #f7f7f7;
        background-image: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
        background-image: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
        background-image: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
        background-image: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
        background-image: linear-gradient(top,  #ffffff 0%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ffffff",GradientType=0 );
        border-bottom: 1px solid #bbb;
    }
    .ui-datepicker th {
        text-transform: uppercase;
        font-size: 6pt;
        padding: 5px 0;
        color: #8a8a8a;
        text-shadow: 1px 0px 0px #fff;
        filter: dropshadow(color=#fff, offx=1, offy=0);
    }

    .ui-datepicker tbody td {
        padding: 0;
    }
    .ui-datepicker tbody td:last-child {
        border-right: 0px;
        }
        
            .ui-datepicker tbody tr:last-child {
            border-bottom: 0px;
            }
            .ui-datepicker td span, .ui-datepicker td a {
                display: inline-block;
                font-weight: bold;
                text-align: center;
                width: 28px;
                height: 30px;
                line-height: 30px;
                color: #666666;
                text-shadow: 1px 1px 0px #fff;
                filter: dropshadow(color=#fff, offx=1, offy=1);
                }
                .ui-datepicker-calendar .ui-state-default {
                background: #ededed;
                background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
                background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
                background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
                background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
                background: linear-gradient(top,  #ffffff 0%,#ffffff 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ffffff",GradientType=0 );
                -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
                -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
                box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
                }
                .ui-datepicker-unselectable .ui-state-default {
                background: #f4f4f4;
                color: #b4b3b3;
                }
                .ui-datepicker-calendar .ui-state-hover {
                    background: #f7f7f7;
                    }
                    .ui-datepicker-calendar .ui-state-active {
                        background: rgb(164, 78, 184);
                        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
                        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
                        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
                        color: #ffffff;
                        text-shadow: 0px 1px 0px rgb(164, 78, 184);
                        filter: dropshadow(color=rgb(164, 78, 184), offx=0, offy=1);
                        border: 1px solid rgb(164, 78, 184);
                        position: relative;
                        margin: -1px;
                        }
                        .ui-datepicker-calendar td:first-child .ui-state-active {
                            width: 29px;
                            margin-left: 0;
                            }
                            .ui-datepicker-calendar td:last-child .ui-state-active {
                            width: 28px;
                            margin-right: 0;
                            }
                            .ui-datepicker-calendar tr:last-child .ui-state-active {
                                height: 29px;
                                margin-bottom: 0;
                                }

                                #hashsearch{
                                    cursor: pointer;
                                    margin-top: 20px;
                                    background-color: transparent;
                                    border: 1px solid rgb(177, 177, 177);
                                    width: 50px;
                                    height: 30px;
                                    border-radius: 4px;
                                    transition: 0.3s;
                                }
                                #hashsearch:hover{
                                    background-color: #f7f7f7;
                                }




    /* 호텔 상품 란 */

    .prod{
        padding: 30px 15px 10px 15px;
        position: relative;
        left: 12%;
        width: 55%;
    }

    .choice{
        text-align: left;
    }

    .choice>input{
        cursor: pointer;
        font-family: 'OTWelcomeRA';
        padding-top: 6px;
        line-height: 20px;
        border: 1px solid rgb(200, 195, 202);
        background-color: #fff;
        color: rgb(129, 39, 149);
        border-radius: 3px;
        width: 250px;
        margin-bottom: 5px;
        transition:0.3s ;
    }
    .choice>input:hover{
        background-color: rgb(254, 249, 255);
    }
    
    .prodtable{
        height: 280px;
    }

    .prodbox{    
        height: 283px;
        cursor: pointer;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        border-radius: 5px;
    }
    .prodbox:hover{
        /* outline: none; */
        box-shadow: 0px 0px 5px rgb(195, 195, 195);
        border-radius: 5px;
    }

   


    .prod_heart>a{
        color: black;
    }

    .HotelPic{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 30%;
        background-color: rgb(184, 212, 212);
    }
    .Hotelprodbox{
        text-align: left;
        padding: 20px;
        margin-left: 13px;
        width: 68%;
        background-color: rgb(255, 255, 255);
    }

    #Hotelimg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .Hotelname{
        font-size: 25px;
        margin-bottom: 15px;
    }
    .famousbox{
        display: flex;
    }
    .star{
        margin-right: 10px;
        margin-bottom: 14px;
    }

    .reviewcnt{
        font-size: 13px;
        line-height: 19px;
    }

    .address{
        font-size: 14px;
        color: gray;
        margin-bottom: 20px;
    }

    .Hotelinfo{
        font-size: 14px;
        height: 80px;
        /* background-color: rgb(182, 195, 169); */
    }

    .Hotelprice{
        font-size: 28px;
        text-align: end;
        height: 50px;
        padding-top: 20px;

        /* background-color: rgb(212, 240, 231); */
    }

    .price{
        color: rgb(243, 23, 23);
        font-weight: bold;
    }

    .HotelPic{
        text-align: left;
    }
    #heart_btn{
        z-index: 180;
        cursor: pointer;
        position: absolute;
        left: 15px;
        margin-top: 10px;
        border: none;
        background-color: transparent;
    }

    

    #heart{
        width: 35px;
        border: none;
        background-color: transparent;
    }

    
