<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>  
  	<typeAlias type="com.butler.app.dao.KUserDTO" alias="kdto"/>  
  	<typeAlias type="com.butler.app.dao.UserDTO" alias="udto"/>  
  	<typeAlias type="com.butler.app.dao.HotelDTO" alias="hdto"/> 
  	<typeAlias type="com.butler.app.dao.ReviewDTO" alias="rdto"/> 
  	<typeAlias type="com.butler.app.dao.BookDTO" alias="bdto"/>
  	<typeAlias type="com.butler.app.dao.PetsDTO" alias="petsdto"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/butler"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="com/butler/mapper/klogin.xml"/>
  	<mapper resource="com/butler/mapper/login.xml"/>
  	<mapper resource="com/butler/mapper/hotel.xml"/>
  	<mapper resource="com/butler/mapper/book.xml"/>
  	<mapper resource="com/butler/mapper/pets.xml"/>
  </mappers>
</configuration>
